.projectsDetailPlan {
    padding-bottom: 70px;

    &__inner h2 {
        font-family: "Lack", sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        color: #23272b;
        margin-bottom: 18px;
    }

    &__list {
        display: flex;
    }

    &__card-plan:first-child {
        margin-right: 18px;
    }

    &__card-plan {
        margin-right: 38px;
    }

    &__card-plan p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #23272b;
        margin-bottom: 18px;
    }

    &__photo {
        max-width: 476px;
        max-height: 476px;
    }

    &__photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__desc {
        margin-top: 37px;
        margin-bottom: 25px;
    }

    &__desc-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #23272b;
        margin-bottom: 23px;
        white-space: nowrap;
    }

    &__desc ul {
        margin-top: 25px;
    }

    &__desc li {
        font-size: 15px;
        line-height: 26px;
        color: #23272b;
        margin-left: 20px;
    }

    &__btns {
        display: flex;
    }

    &__desc-list2 {
        display: none;
    }
}

// Модальное для планировки

.modal-photo {
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(35, 39, 42, 0.6);
}

.modal-photo > div {
    position: relative;
    width: 90%;
}

.modal-photo-close {
    margin-top: 15px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}

.modal-photo-close img {
    width: 100%;
}

.modal-photo--inner {
    width: 100%;
}

.modal-photo-hide1 {
    display: flex;
}

.modal-photo-hide2 {
    display: flex;
}

// Табы

.projectsDetailPlan__btn1 {
    display: block;
}
.projectsDetailPlan__btn1 input[type="radio"] {
    display: none;
}
.projectsDetailPlan__btn1 label {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 0;
    user-select: none;
    padding: 0 18px 6px 12px;
    border-bottom: 3px solid #dbdbdb;
}

.projectsDetailPlan__btn1 input[type="radio"]:checked + label {
    background: transparent;
    color: #a78b73;
    border-bottom: 3px solid #a78b73;
}

.projectsDetailPlan__btn1 input[type="radio"]:hover {
    background: #666;
}

.projectsDetailPlan__btn2 {
    display: block;
}
.projectsDetailPlan__btn2 input[type="radio"] {
    display: none;
}
.projectsDetailPlan__btn2 label {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 0;
    user-select: none;
    padding: 0 62px 6px 25px;
    border-bottom: 3px solid #dbdbdb;
}

.projectsDetailPlan__btn2 input[type="radio"]:checked + label {
    background: transparent;
    color: #a78b73;
    border-bottom: 3px solid #a78b73;
}

.projectsDetailPlan__btn2 input[type="radio"]:hover {
    background: #666;
}

@media (max-width: 1340px) {
    .projectsDetailPlan {
        &__list {
            flex-wrap: wrap;
        }
    }

    // .lightbox-content {
    //     width: 50%;
    //     margin: 20% auto;
    // }
}

@media (min-width: 1200px) {
    .modal-photo > div {
        width: 30%;
    }
}

@media (max-width: 1200px) {
    .projectsDetailPlan {
        &__card-plan {
            margin-right: 0;
        }
    }

    .lightbox-content {
        width: 500px;
    }
}

@media (max-width: 1030px) {
    .projectsDetailPlan {
        &__list {
            flex-direction: column;
        }

        &__card-plan:first-child {
            margin-bottom: 37px;
        }

        &__desc {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 768px) {
    .modal-photo > div {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .projectsDetailPlan {
        &__inner h2 {
            font-size: $fontTitle768;
        }
    }

    .lightbox-content {
        width: 450px;
    }
}

@media (max-width: 600px) {
    .projectsDetailPlan {
        padding-bottom: 36px;

        &__inner h2 {
            color: #23272b;
            font-size: 24px;
            line-height: 130%;
        }

        &__desc {
            width: 100%;
        }

        &__desc-title {
            font-size: 16px;
        }

        &__card-plan p {
            font-size: 14px;
        }

        &__desc-list1 {
            font-size: 15px;
        }

        &__desc-list2 {
            font-size: 15px;
        }
    }

    .projectsDetailPlan__btn1 label {
        color: #797979;
        font-size: 14px;
    }

    .projectsDetailPlan__btn2 label {
        font-size: 14px;
        color: #797979;
    }

    .lightbox-content {
        width: 85%;
    }
}

@media (max-width: 500px) {
    .projectsDetailPlan {
        &__list {
            flex-direction: row;
        }

        &__desc {
            margin-top: 0;
        }

        &__card-plan:first-child {
            margin-right: 20px;
        }

        &__card-plan {
            margin-bottom: 24px;
        }

        &__photo {
            max-width: 160px;
            position: relative;
        }

        &__photo::after {
            content: url("/img/sprites/icon_rise.png");
            display: flex;
            font-size: 16px;
            position: absolute;
            align-items: center;
            justify-content: center;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}

@media (max-width: 450px) {
    .projectsDetailPlan__btns {
        width: 100%;
    }
    .projectsDetailPlan__btn1 label {
        white-space: nowrap;
    }
    .projectsDetailPlan__btn2 {
        width: 100%;
    }
    .projectsDetailPlan__btn2 label {
        width: 100%;
    }
}

// Галарея с планами

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 31;
}

.lightboxFlex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox-content {
    position: relative;
    width: 700px;
    height: auto;
}
.lightbox-content img {
    border-radius: 0px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, 0.25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 9px;
    top: 45%;
    cursor: pointer;
}
.lightbox-prev {
    left: 0;
}
.lightbox-next {
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: 0.8;
}
