.main {
    padding-top: 147px;
    padding-bottom: 59px;

    &__text h1 {
        font-family: "Lack", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 70px;
        text-transform: uppercase;
        color: #23272b;
        margin-left: 319px;
        margin-bottom: 2px;
    }

    &__stroke {
        font-family: "Lack", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 70px;
        text-transform: uppercase;
        color: #23272b;
        margin-bottom: 2px;
    }

    &__stoke_color {
        color: #a78b73;
    }

    &__bottom {
        padding-top: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__bottom button {
        padding: 17px 45px 17px 45px;
        background: #a78b73;
        border-radius: 50px;
        border: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #ffffff;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
    }

    &__bottom button:hover {
        cursor: pointer;
        background: #b28864;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__info p {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #23272b;
    }
}

.mainPhoto {
    background-image: url("../../../img/sprites/header_image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 2.4/1;
}

.feedback {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 39, 42, 0.6);
    display: none;
    align-items: center;
    justify-content: center;

    &__form {
        padding: 60px 50px 70px 50px;
        border-radius: 15px;
        background: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: #23272b;
        text-align: center;
        font-size: 30px;
        font-family: "Lack", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        max-width: 353px;
        margin-bottom: 15px;
    }

    &__desc {
        max-width: 407px;
        color: var(--1, #23272b);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 135%;
        margin-bottom: 30px;
    }

    &__form-wrapper {
        width: 100%;
    }

    &__form form input {
        width: 100%;
        border-radius: 5px;
        background: #fff;
        border: 0;
        outline: none;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        color: #8d8d8d;
        font-size: 16px;
        font-weight: 400;
        line-height: 135%;
        margin-bottom: 15px;
    }

    &__form form button {
        margin-top: 15px;
        width: 100%;
        border-radius: 50px;
        background: #a78b73;
        border: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 135%;
        transition: all 0.2s ease-in-out;
        margin-bottom: 25px;
    }

    &__form form button:hover {
        cursor: pointer;
        background-color: #b28864;
    }

    &__policy {
        max-width: 365px;
        text-align: center;
        color: #797979;
        font-size: 14px;
        font-weight: 400;
        line-height: 135%;
    }

    &__policy a {
        color: #797979;
        transition: all 0.2s ease-in-out;
    }

    &__policy a:hover {
        color: #a78b73;
    }

    &__close {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.8);
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__open {
        display: flex;
    }
}

@media (max-width: 1340px) {
    .main {
        &__text h1 {
            margin-left: 0px;
        }

        &__stroke {
            display: inline;
        }
    }
}

@media (max-width: 1200px) {
    .main {
        &__text h1 {
            font-size: 52px;
        }

        &__stroke {
            font-size: 52px;
        }
    }
}

@media (max-width: 992px) {
    .main {
        &__text h1 {
            font-size: 40px;
            line-height: 130%;
        }

        &__stroke {
            font-size: 40px;
            line-height: 130%;
        }

        &__bottom button {
            display: none;
        }
        &__bottom {
            display: flex;
            justify-content: end;
        }
    }

    .mainPhoto {
        background-size: cover;
        background-position: center;
        height: 429px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main {
        padding-top: 122px;
        padding-bottom: 30px;

        &__text h1 {
            font-size: 32px;
            line-height: 130%;
        }

        &__stroke {
            font-size: 32px;
            line-height: 130%;
        }

        &__info p {
            font-size: 18px;
        }

        &__info img {
            width: 28px;
            height: 28px;
        }

        &__bottom {
            padding-top: 21px;
        }
    }
}

@media (max-width: 600px) {
    .main {
        padding-top: 96px;
        padding-bottom: 30px;

        &__text h1 {
            font-size: 24px;
            line-height: 130%;
        }

        &__stroke {
            font-size: 24px;
            line-height: 130%;
        }

        &__info p {
            font-size: 15px;
            line-height: 130%;
        }
    }

    .feedback {
        &__form {
            height: 100%;
            width: 100%;
            border-radius: 0;
            padding: 67px 25px 70px 25px;
        }

        &__close {
            top: 13px;
            right: 13px;
            width: 40px;
            height: 40px;
        }

        &__title {
            text-align: left;
            color: #1c2129;
            font-size: 24px;
            font-weight: 400;
            line-height: 130%;
            margin-bottom: 10px;
        }

        &__desc {
            text-align: left;
            color: #1c2129;
            font-size: 14px;
            line-height: 135%;
            margin-bottom: 20px;
        }

        &__form form input {
            margin-bottom: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 23px;
            font-size: 14px;
            line-height: 135%;
        }

        &__form form button {
            margin-top: 10px;
        }

        &__policy {
            text-align: center;
            font-size: 13px;
            line-height: 135%;
        }
    }

    .mainPhoto {
        background-image: url("../../../img/sprites/main_image2.jpg");
    }
}
