.projectsDetailMain {
    &__inner {
        padding-top: 129px;
        padding-bottom: 70px;
    }

    &__route {
        font-size: 14px;
        line-height: 17px;
        color: #23272b;
        margin-bottom: 40px;
    }

    &__route a {
        text-decoration: none;
        color: #23272b;
        transition: all 0.2s ease-in-out;
    }

    &__route a:hover {
        color: #a78b73;
    }

    &__content {
        display: flex;
    }

    &__left {
        margin-right: 50px;
    }

    &__image {
        max-width: 831px;
        margin-bottom: 9px;
        overflow: hidden;
    }

    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__imageList {
        max-width: 831px;
        overflow: hidden;
        display: flex;
    }

    &__btns {
        margin-left: 17px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 14px;
    }

    &__swiper-left {
        cursor: pointer;
        transition: all 0.3 ease-in;
    }

    &__swiper-left:hover {
        svg path {
            fill: gray;
        }
    }

    &__swiper-right {
        cursor: pointer;
        transition: all 0.3 ease-in;
    }

    &__swiper-right:hover {
        svg path {
            fill: gray;
        }
    }

    &__title {
        font-family: "Lack", sans-serif;
        color: #23272b;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__desc {
        color: #23272b;
        font-size: 14px;
        line-height: 145%;
        margin-bottom: 20px;
        max-width: 360px;
    }

    &__info {
        display: flex;
        gap: 50px;
        margin-bottom: 76px;
    }

    &__info-left div {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__info-left div:first-child {
        margin-bottom: 18px;
    }

    &__info-right div {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__info-right div:first-child {
        margin-bottom: 18px;
    }

    &__price {
        color: #23272b;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    &__complect {
        display: inline-block;
        color: #a78b73;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        border-bottom: 1px solid #a78b73;
        margin-bottom: 30px;
        transition: color 0.6 ease-in-out;
    }

    &__complect:hover {
        color: #000;
    }

    &__calculator {
        display: inline-block;
        padding: 17px 92px;
        border-radius: 50px;
        background: #a78b73;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
    }

    &__calculator:hover {
        cursor: pointer;
        background: #b28864;
    }
}

.swiper-slide {
    background-size: contain;
    background-position: center;
}

.mySwiper2 {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.mySwiper .swiper-slide {
    height: auto;
    border-radius: 10px !important;
    cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active img {
    border: 3px solid #23272b;
    overflow: hidden;
}

.mySwiper2 .swiper-slide {
    width: 831px;
    height: auto;
}

.mySwiper .swiper-slide img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mySwiper2 .swiper-slide img {
    border-radius: 15px;
}

@media (max-width: 1350px) {
    .projectsDetailMain {
        &__image {
            max-width: 750px;
        }
        &__imageList {
            max-width: 750px;
        }

        &__right {
            margin-top: 30px;
        }
    }
}

@media (max-width: 1300px) {
    .projectsDetailMain {
        &__image {
            max-width: 700px;
        }
        &__imageList {
            max-width: 700px;
        }
    }
}

@media (max-width: 1250px) {
    .projectsDetailMain {
        &__image {
            max-width: 100%;
        }
        &__imageList {
            max-width: 100%;
        }

        &__left {
            margin-right: 0;
        }

        &__right {
            margin-top: 30px;
        }

        &__title br {
            display: none;
        }

        &__desc {
            max-width: 70%;
        }

        &__info {
            margin-bottom: 40px;
        }

        &__content {
            display: block;
        }
    }
}

@media (max-width: 992px) {
    .projectsDetailMain {
        &__route {
            margin-bottom: 30px;
        }

        &__title {
            font-size: 36px;
        }
    }
}

@media (max-width: 768px) {
    .projectsDetailMain {
        &__title {
            font-size: $fontTitle768;
        }

        &__desc {
            max-width: 90%;
        }

        &__route {
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 600px) {
    .swiper-pagination2 {
        display: none;
    }
}

@media (max-width: 600px) {
    .projectsDetailMain {
        &__inner {
            padding-top: 100px;
            padding-bottom: 39px;
        }

        &__title {
            font-size: 24px;
            line-height: 130%;
        }

        &__calculator-wrapper {
            text-align: center;
        }

        &__calculator {
            padding: 17px 56px;
        }

        &__right {
            margin-top: 0;
            margin-bottom: 15px;
        }

        &__route {
            font-size: 13px;
            margin-bottom: 15px;
        }

        &__desc {
            display: none;
        }

        &__info {
            border-top: 1px solid #e9e9e9;
            border-bottom: 1px solid #e9e9e9;
            padding-bottom: 13px;
            padding-top: 13px;
            margin-bottom: 13px;
            margin-top: 20px;
        }

        &__price {
            font-size: 18px;
            margin-bottom: 10px;
        }

        &__complect {
            margin-bottom: 33px;
        }

        &__image {
            aspect-ratio: 17/14;
        }

        &__imageList {
            display: none;
        }
    }

    .mySwiper2 .swiper-slide img {
        border-radius: 10px;
    }
}

.swiper-pagination2 {
    position: absolute;
    text-align: center;
    z-index: 1;
}
