@import "../../../styles/helpers/variables";

.advantage {
    background: #23272b;
    padding-top: 103px;
    padding-bottom: 129px;

    &__title {
        font-family: "Lack", sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 72px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 105px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        border-right: 1px solid #3f3f3f;
    }

    &__column {
        border-left: 1px solid #3f3f3f;
    }

    &__card {
        max-width: 431px;
        padding-left: 23px;
        padding-top: 23px;
        padding-bottom: 66px;
        padding-right: 12px;
    }

    &__card2 {
        margin-top: 56px;
    }

    &__card img {
        margin-bottom: 39px;
    }

    &__card-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 14px;
    }

    &__card p {
        max-width: 390px;
        font-weight: 400;
        font-size: 17px;
        line-height: 145%;
        color: #808080;
    }

    &__cardReq {
        margin-top: 56px;
        max-width: 386px;
        padding: 32px 24px 44px 28px;
        background-image: url("../../../img/sprites/advantage_backimg.jpg");
        border-radius: 15px;
        margin-left: 22px;
        margin-right: 22px;
    }

    &__cardReq h4 {
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 102px;
    }

    &__cardReq button {
        background: #23272b;
        border-radius: 50px;
        padding: 17px 52px 17px 52px;
        border: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
    }

    &__cardReq button:hover {
        cursor: pointer;
        background: #fff;
        color: #23272a;
    }
}

@media (max-width: 1340px) {
    .advantage {
        &__list {
            flex-direction: column;
            border-right: 0;
        }

        &__column {
            border-left: 0;
        }

        &__card {
            border-bottom: 1px solid #3f3f3f;
            max-width: 100%;
            padding-bottom: 40px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__card p {
            max-width: 100%;
        }

        &__card2 {
            margin-top: 0px;
        }

        &__card {
            margin-top: 30px;
        }
    }
}

@media (max-width: 1200px) {
    .advantage {
        &__title {
            font-size: $fontTitle1200;
            line-height: 130%;
        }

        &__card-title {
            font-size: 19px;
        }

        &__card p {
            font-size: 16px;
        }

        &__cardReq h4 {
            font-size: 25px;
        }
    }
}

@media (max-width: 992px) {
    .advantage {
        &__title {
            font-size: $fontTitle992;
        }

        &__card-title {
            font-size: 17px;
        }

        &__card p {
            font-size: 15px;
        }

        &__cardReq h4 {
            font-size: 24px;
        }
    }
}

@media (max-width: 768px) {
    .advantage {
        &__title {
            font-size: $fontTitle768;
        }

        &__card-title {
            font-size: 16px;
        }

        &__card p {
            font-size: 14px;
        }

        &__cardReq h4 {
            font-size: 23px;
        }
    }
}

@media (max-width: 600px) {
    .advantage {
        padding-top: 45px;
        padding-bottom: 45px;

        &__title {
            font-size: $fontTitle600;
            margin-bottom: 36px;
        }

        &__card {
            padding: 0;
            padding-bottom: 30px;
        }

        &__card-title {
            font-size: 15px;
        }

        &__card p {
            font-size: 13px;
        }

        &__card img {
            margin-bottom: 20px;
        }

        &__card-title {
            margin-bottom: 10px;
        }

        &__card2 {
            margin-top: 0px;
        }

        &__card {
            margin-top: 30px;
        }

        &__cardReq {
            padding: 26px 26px 40px 26px;
            margin: 0;
            margin-top: 10px;
            max-width: 341px;
        }

        &__cardReq h4 {
            max-width: 100%;
            font-size: 23px;
            margin-bottom: 78px;
        }

        &__cardLast {
            border-bottom: 0;
        }
    }
}
