.projectsDetailDesc {
    padding-bottom: 70px;

    &__inner h2 {
        font-family: "Lack", sans-serif;
        color: #23272b;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__btns {
        display: flex;
        margin-bottom: 24px;
    }

    &__charact {
        display: none;
    }

    &__desc {
        line-height: 145%;
        color: #23272b;
    }

    &__article1 {
        margin-bottom: 25px;
    }

    &__article2 {
        margin-bottom: 25px;
    }

    &__article3 {
        margin-bottom: 25px;
        margin-left: 25px;
    }

    &__article4 {
        margin-bottom: 25px;
    }

    &__hidden {
        color: #23272b;
        font-size: 16px;
        line-height: 145%;
        margin-bottom: 25px;
    }

    &__write-next {
        display: inline-block;
        color: #a78b73;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #a78b73;
    }

    &__write-next:hover {
        cursor: pointer;
    }

    &__write-back {
        display: inline-block;
        color: #a78b73;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #a78b73;
    }

    &__hide {
        display: none;
    }

    &__write-back:hover {
        cursor: pointer;
    }
}

// табы

.projectsDetailDesc__btn1 {
    display: block;
}
.projectsDetailDesc__btn1 input[type="radio"] {
    display: none;
}
.projectsDetailDesc__btn1 label {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 0;
    user-select: none;
    padding: 0 6px 9px 6px;
    border-bottom: 3px solid #dbdbdb;
}

.projectsDetailDesc__btn1 input[type="radio"]:checked + label {
    background: transparent;
    color: #a78b73;
    border-bottom: 3px solid #a78b73;
}

.projectsDetailDesc__btn1 input[type="radio"]:hover {
    background: #666;
}

.projectsDetailDesc__btn2 {
    display: block;
}
.projectsDetailDesc__btn2 input[type="radio"] {
    display: none;
}
.projectsDetailDesc__btn2 label {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 0;
    user-select: none;
    padding: 0 36px 9px 36px;
    border-bottom: 3px solid #dbdbdb;
}

.projectsDetailDesc__btn2 input[type="radio"]:checked + label {
    background: transparent;
    color: #a78b73;
    border-bottom: 3px solid #a78b73;
}

.projectsDetailDesc__btn2 input[type="radio"]:hover {
    background: #666;
}

@media (max-width: 768px) {
    .projectsDetailDesc {
        &__inner h2 {
            font-size: $fontTitle768;
        }
    }
}

@media (max-width: 600px) {
    .projectsDetailDesc {
        padding-bottom: 35px;
        &__inner h2 {
            font-size: 24px;
            line-height: 130%;
            margin-bottom: 20px;
        }

        &__btns {
            margin-bottom: 15px;
        }
    }

    .projectsDetailDesc__btn1 label {
        color: #797979;
        font-size: 14px;
    }

    .projectsDetailDesc__btn2 label {
        color: #797979;
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .projectsDetailDesc__btn2 {
        width: 100%;
    }
    .projectsDetailDesc__btn2 label {
        width: 100%;
    }
}
