.policy {
    padding-top: 129px;
    padding-bottom: 46px;

    &__route {
        font-size: 14px;
        line-height: 17px;
        color: #23272b;
        margin-bottom: 15px;
    }

    &__route a {
        text-decoration: none;
        color: #23272b;
        transition: all 0.2s ease-in-out;
    }

    &__route a:hover {
        color: #a78b73;
    }

    &__title {
        color: #23272b;
        font-size: 60px;
        font-family: "Lack", sans-serif;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__text li {
        list-style-type: none;
        margin-bottom: 20px;
        color: #23272b;
        font-size: 18px;
        font-weight: 400;
    }
}

@media (max-width: 1200px) {
    .policy {
        &__title {
            font-size: $fontTitle1200;
        }
    }
}

@media (max-width: 992px) {
    .policy {
        &__title {
            font-size: $fontTitle992;
            margin-bottom: 28px;
        }

        &__text li {
            margin-bottom: 15px;
            font-size: 17px;
        }
    }
}

@media (max-width: 768px) {
    .policy {
        &__title {
            font-size: $fontTitle768;
        }

        &__text li {
            margin-bottom: 12px;
            font-size: 16px;
        }
    }
}

@media (max-width: 600px) {
    .policy {
        padding-top: 100px;
        padding-bottom: 19px;
        &__title {
            font-size: $fontTitle600;
            margin-bottom: 25px;
        }

        &__text li {
            margin-bottom: 10px;
            font-size: 15px;
        }
    }
}
