.calculator {
    padding-top: 128px;
    padding-bottom: 117px;

    &__route {
        color: #23272b;
        font-size: 14px;
    }

    &__route a {
        color: #23272b;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    &__route a:hover {
        color: #a78b73;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }

    &__title {
        margin-top: 15px;
        color: #23272b;
        font-size: 60px;
        font-family: "Lack", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__reset {
        color: #23272a;
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        text-decoration-line: underline;
        transition: color 0.2s ease-in-out;
    }

    &__reset:hover {
        cursor: pointer;
        color: #a78b73;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__content-inner {
        width: 100%;
    }

    &__total {
        border-radius: 15px;
        background: #23272b;
        padding: 32px;
        max-height: 650px;
    }

    &__total-title {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 44px;
        max-width: 216px;
    }

    &__total-info {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__total-info-list li {
        list-style-type: none;
        color: #797979;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
    }

    &__total-info-list li:last-child {
        margin-bottom: 0;
    }

    &__total-info-list {
        margin-bottom: 138px;
    }

    &__total-price {
        color: #fff;
        font-size: 28px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 4px;
    }

    &__total-price-desc {
        color: #797979;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 25px;
    }

    &__total-btn1 {
        display: block;
        border: 0;
        border-radius: 50px;
        background: #a78b73;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 18px 25px;
        margin-bottom: 8px;
        transition: background-color 0.2s ease-in-out;
        white-space: nowrap;
        width: 100%;
    }

    &__total-btn1:hover {
        cursor: pointer;
        background-color: #b28864;
    }

    &__total-btn2 {
        display: block;
        border-radius: 50px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 18px 25px;
        text-transform: uppercase;
        width: 100%;
        transition:
            background-color 0.2s ease-in-out,
            color 0.2s ease-in-out;
        white-space: nowrap;
    }

    &__total-btn2:hover {
        cursor: pointer;
        color: #23272b;
        background-color: #fff;
    }

    &__steps {
        display: flex;
        gap: 8px;
        overflow-y: hidden;
        width: 100%;
        margin-bottom: 23px;
    }

    &__steps::-webkit-scrollbar-track {
        opacity: 0;
    }

    &__steps::-webkit-scrollbar {
        opacity: 0;
    }

    &__steps::-webkit-scrollbar-thumb {
        opacity: 0;
    }

    &__step {
        width: 155px;
        min-width: 155px;
        height: 60px;
        border-radius: 5px;
        background: #f2f2f2;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    &__step:hover {
        background-color: #d9c8bd;
    }

    &__step_active:hover {
        background: #a78b73;
    }

    &__step-title {
        white-space: nowrap;
        color: #797979;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
        pointer-events: none;
    }

    &__step-price {
        color: #797979;
        font-size: 14px;
        font-weight: 400;
        pointer-events: none;
    }

    &__step_active {
        background-color: #a78b73;
    }

    &__step_active &__step-title {
        color: #fff;
    }

    &__step_active &__step-price {
        color: rgba(255, 255, 255, 0.7);
    }

    &__settings-wrapper {
        width: 100%;
        display: none;
        max-width: 970px;
    }

    &__settings-wrapper_active {
        display: block;
    }

    &__settings {
        padding: 50px;
        border-radius: 15px;
        background: #f2f2f2;
        width: 100%;
        margin-bottom: 10px;
        min-height: 537px;
    }

    &__settings-top {
        padding-bottom: 50px;
        margin-bottom: 30px;
        border-bottom: 1px solid #d4d4d4;
        display: flex;
        gap: 133px;
    }

    &__settings-top-square {
        max-width: 260px;
    }

    &__settings-top-square p {
        color: #23272b;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
    }

    &__floor p {
        color: #23272b;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
    }

    &__checkboxes > div {
        margin-bottom: 15px;
    }

    &__checkboxes > div:last-child {
        margin-bottom: 0;
    }

    &__main {
        margin-bottom: 50px;
    }

    &__settings-main-title {
        color: #23272a;
        font-size: 30px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
    }

    &__settings-result-title {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__settings-main-choice {
        color: #23272b;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 26px;
    }

    &__settings-main-choiceFloor {
        margin-bottom: 30px;
    }

    &__settings-main-btnFloor {
        border-radius: 50px;
        border: 1px solid #b6b6b6;
        padding: 11px 50px;
        color: #23272b;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    &__settings-main-btnFloor_active {
        border: 0;
        background: #23272b;
        color: #fff;
    }

    &__settings-main-btnFloor_hide {
        display: none;
    }

    &__settings-main-btnLap {
        border-radius: 50px;
        border: 1px solid #b6b6b6;
        padding: 11px 18px;
        color: #23272b;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    &__settings-main-btnLap_active {
        border: 0;
        background: #23272b;
        color: #fff;
        padding: 11px 21px;
    }

    &__settings-main-btnLap_hide {
        display: none;
    }

    &__settings-main-choiceLap {
        margin-bottom: 30px;
    }

    &__settings-main-cards {
        display: flex;
        gap: 8px;
    }

    &__settings-main-floorHide {
        display: none;
    }

    &__settings-main-lapHide {
        display: none;
    }

    &__settings-main-card {
        border-radius: 10px;
        background: #fff;
        padding: 14px 20px 18px 20px;
        min-height: 288px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 24.33%;
        border: 2px solid #fff;
        transition: border 0.2s ease-in-out;
    }

    &__settings-main-card:hover {
        border: 2px solid #c7b2a0;
    }

    &__settings-main-card_active {
        border: 2px solid #a78b73;
    }

    &__settings-main-card_active:hover {
        border: 2px solid #a78b73;
    }

    &__settings-main-card img {
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
    }

    &__settings-main-card h5 {
        color: #23272a;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
    }

    &__settings-main-card p {
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        color: #797979;
    }

    &__settings-door {
        margin-bottom: 17px;
    }

    &__settings-window-title,
    &__settings-door-title {
        color: #23272b;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
    }

    &__settings-window-desc,
    &__settings-door-desc {
        color: #23272b;
        font-size: 15px;
        font-weight: 400;
        line-height: 145%;
        margin-bottom: 30px;
        max-width: 551px;
    }

    &__settings-window-desc span,
    &__settings-door-desc span {
        color: #797979;
    }

    &__settings-window-wrapper,
    &__settings-door-wrapper {
        max-width: 250px;
    }

    &__settings-door-line {
        margin-top: 40px;
        margin-bottom: 40px;
        border-top: 1px solid #b6b6b6;
    }

    &__settings-resultTotal {
        border-radius: 15px;
        background: #f2f2f2;
        padding: 34px 44px;
    }

    &__settings-resultTotal-title {
        color: #23272b;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
    }

    &__settings-resultTotal-row {
        margin-bottom: 20px;
    }

    &__settings-resultTotal-row:last-child {
        margin-bottom: 0;
    }

    &__settings-resultTotal-desc {
        color: #23272b;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 7px;
    }

    &__settings-resultTotal-price {
        color: #23272b;
        font-size: 16px;
        font-weight: 400;
        line-height: 145%;
    }

    &__settings-resultStep {
        margin-top: 15px;
        border-radius: 15px;
        background: #f2f2f2;
        padding: 26px 37px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        display: none;
    }

    &__settings-resultStep_active {
        display: block;
    }

    &__settings-resultStep:hover {
        background-color: #e9e9e9;
    }

    &__settings-resultStep-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__settings-resultStep-name {
        color: #23272b;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
    }

    &__settings-resultStep-inner {
        margin-top: 20px;
        display: none;
        gap: 36px;
        max-width: 837px;
    }

    &__settings-resultStep-innerWrapper {
        width: 100%;
    }

    &__settings-resultStepFloor1-inner > p {
        margin-bottom: 10px;
    }

    &__settings-resultStepFloor2-inner {
        margin-top: 30px;
    }

    &__settings-resultStepFloor2-inner > p {
        margin-bottom: 10px;
    }

    &__settings-resultStep3-wrapper {
        display: flex;
        gap: 36px;
    }

    &__settings-resultStep-inner_active {
        display: flex;
    }

    &__settings-resultStep-left img {
        width: 100px;
        height: 100px;
    }

    &__settings-resultStep-left p {
        color: #23272b;
        font-size: 16px;
        font-weight: 400;
    }

    &__settings-resultStep-right {
        width: 100%;
    }

    &__settings-resultStep-top {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        margin-bottom: 20px;
    }

    &__settings-resultStep-top div {
        width: 28%;
    }

    &__settings-resultStep-text {
        color: #797979;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 7px;
    }

    &__settings-resultStep-count {
        color: #23272b;
        font-size: 16px;
        font-weight: 400;
        line-height: 145%;
    }

    &__settings-resultStep-bottom {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }

    &__settings-resultStep-bottom div {
        width: 28%;
    }

    &__selecters {
        width: 100%;
        display: none;
    }

    &__selecters_active {
        display: block;
    }

    &__select {
        width: 100%;
        display: flex;
        margin-bottom: 9px;
    }

    &__select:last-child {
        margin-bottom: 0;
    }

    &__nextprev {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }

    &__prev {
        display: flex;
        align-items: center;
        gap: 9px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    &__prev p {
        color: #797979;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
    }

    &__prev:hover p {
        color: #a78b73;
    }

    &__prev:hover svg path {
        transition: all 0.2s ease-in-out;
    }

    &__prev:hover svg path {
        fill: #a78b73;
    }

    &__next button {
        border-radius: 50px;
        background: #a78b73;
        padding: 17px 25px;
        border: 0;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
    }

    &__next button:hover {
        cursor: pointer;
        background-color: #b28864;
    }

    &__prev_hide {
        display: none;
    }

    &__next_hide {
        display: none;
    }

    &__settings-total {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    &__settings-total-left {
        width: 27.11%;
        border-radius: 15px;
        background: #f2f2f2;
        padding: 25px;
    }

    &__settings-total-right {
        width: 72.06%;
        border-radius: 15px;
        background: #f2f2f2;
        padding: 25px;
    }

    &__settgins-total-full {
        width: 100%;
    }

    &__settings-total-text {
        color: #23272a;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 15px;
    }

    &__settings-total-number {
        color: #23272a;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
    }

    &__settings-total-right ul {
        display: flex;
        gap: 48px;
    }

    &__settings-total-right li {
        list-style-type: none;
        color: #23272a;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
    }

    &__settings-total-right span {
        font-weight: 400;
    }

    &__warning-title {
        color: #000;
        font-size: 34px;
        font-family: "Lack", sans-serif;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__text {
        color: #23272a;
        font-size: 16px;
        font-weight: 400;
        line-height: 145%;
        max-width: 970px;
    }

    &__text span {
        font-weight: bold;
    }

    &__text p {
        margin-bottom: 33px;
    }

    &__text p:last-child {
        margin-bottom: 0;
    }

    &__error {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    &__error-inner {
        padding: 30px 40px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
    }

    &__error_active {
        opacity: 1;
        z-index: 10;
    }

    &__error-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__error-close img {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
}

.step2-result-floor2 {
    display: none;
}

.step2-result-floor2_active {
    display: block;
}

.step3-result-floor2 {
    display: none;
}

.step3-result-floor2_active {
    display: block;
}

@media (max-width: 1200px) {
    .calculator {
        &__title {
            font-size: $fontTitle1200;
            line-height: 130%;
        }

        &__warning-title {
            font-size: 30px;
        }
    }
}

@media (max-width: 992px) {
    .calculator {
        &__title {
            font-size: $fontTitle992;
        }

        &__warning-title {
            font-size: 28px;
        }
    }
}

@media (max-width: 850px) {
    .calculator {
        &__settings-resultStep-inner {
            flex-direction: column;
            gap: 15px;
            margin-top: 11px;
        }

        &__settings-resultStep3-wrapper {
            flex-direction: column;
            gap: 15px;
            margin-top: 11px;
        }
    }
}

@media (max-width: 768px) {
    .calculator {
        &__title {
            font-size: $fontTitle768;
        }

        &__warning-title {
            font-size: 26px;
        }
    }
}

@media (max-width: 710px) {
    .calculator {
        &__settings-resultStep-top {
            flex-direction: column;
            gap: 15px;
            margin-bottom: 15px;
        }

        &__settings-resultStep-text {
            margin-bottom: 0;
        }

        &__settings-resultStep-top div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__settings-resultStep-bottom {
            flex-direction: column;
            gap: 15px;
        }

        &__settings-resultStep-bottom div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .calculator {
        padding-top: 89px;
        padding-bottom: 45px;

        &__title-wrapper {
            margin-bottom: 18px;
        }

        &__title {
            font-size: $fontTitle600;
        }

        &__route {
            font-size: 13px;
        }

        &__reset {
            font-size: 13px;
        }

        &__warning-title {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}

.calc-window-range {
    cursor: pointer;
}

.calc-door-range {
    cursor: pointer;
}

//input range3

.price-input3 {
    width: 100%;
    display: flex;
    gap: 4px;
    margin-top: 20px;
}
.price-input3 .field3 {
    display: flex;
    padding: 7px 0 7px 13px;
    height: 32px;
    align-items: center;
    border: 1.5px solid #c5c5c5;
    border-radius: 5px;
}
.field3 input {
    width: 100%;
    height: 100%;
    outline: none;
    margin-left: 5px;
    border: 0;
    -moz-appearance: textfield;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    background-color: transparent;
}

.field3 span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #696969;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider3 {
    height: 4px;
    position: relative;
    background: #cbcbcb;
}
.slider3 .progress3 {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    background: #cfc0b4;
}
.range-input3 {
    position: relative;
}
.range-input3 input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #a78b73;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

//input range4 (window)

.price-input4 {
    width: 100%;
    display: flex;
    gap: 4px;
    margin-top: 30px;
}
.price-input4 .field4 {
    display: flex;
    padding: 13px 0 13px 17px;
    height: 43px;
    align-items: center;
    border: 1.5px solid #c5c5c5;
    border-radius: 5px;
    width: 100%;
}
.field4 input {
    height: 100%;
    outline: none;
    border: 0;
    -moz-appearance: textfield;
    font-weight: 400;
    font-size: 14px;
    color: #696969;
    background-color: transparent;
}

.field4 span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #696969;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider4 {
    height: 4px;
    position: relative;
    background: #cbcbcb;
}
.slider4 .progress4 {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    background: #cfc0b4;
}
.range-input4 {
    position: relative;
}
.range-input4 input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #a78b73;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

//input range5 (door)

.price-input5 {
    width: 100%;
    display: flex;
    gap: 4px;
    margin-top: 30px;
}
.price-input5 .field5 {
    display: flex;
    padding: 13px 0 13px 17px;
    height: 43px;
    align-items: center;
    border: 1.5px solid #c5c5c5;
    border-radius: 5px;
    width: 100%;
}
.field5 input {
    height: 100%;
    outline: none;
    border: 0;
    -moz-appearance: textfield;
    font-weight: 400;
    font-size: 14px;
    color: #696969;
    background-color: transparent;
}

.field5 span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #696969;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider5 {
    height: 4px;
    position: relative;
    background: #cbcbcb;
}
.slider5 .progress5 {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    background: #cfc0b4;
}
.range-input5 {
    position: relative;
}
.range-input5 input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #a78b73;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

// select

.select {
    width: 100%;
}

.selectLabel {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    display: block;
}

.selectCustom {
    position: relative;
}

.selectCustom-trigger {
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    padding: 8px 13px;
    color: #797979;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.selectCustom-trigger::after {
    content: url("/img/sprites/calc_arrowdown.svg");
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 6px;
    right: 13px;
    bottom: 0;
}

.selectCustom-options {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    z-index: 1;
    display: none;
    color: #797979;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
}

.selectCustom.isActive .selectCustom-options {
    display: block;
}

.selectCustom-option {
    position: relative;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
}

.selectCustom-option:last-child {
    padding-bottom: 8px;
}

.selectCustom-option:hover {
    color: #a78b73;
}

@media (max-width: 1260px) {
    .calculator {
        &__content {
            flex-direction: column;
            gap: 35px;
        }

        &__settings-wrapper {
            max-width: 100%;
        }

        &__total {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__total-info-list {
            margin-bottom: 0;
        }

        &__total-right {
            text-align: center;
        }
    }
}

@media (max-width: 1200px) {
    .calculator {
        &__settings-main-title {
            font-size: 28px;
        }
    }
}

@media (max-width: 992px) {
    .calculator {
        &__settings-main-title {
            font-size: 24px;
        }

        &__settings-main-choice {
            font-size: 15px;
        }

        &__total-title {
            font-size: 28px;
        }

        &__total-info {
            font-size: 17px;
        }

        &__total-info-list li {
            font-size: 15px;
        }

        &__total-price {
            font-size: 26px;
        }
    }
}

@media (max-width: 910px) {
    .calculator {
        &__settings-total {
            flex-direction: column;
        }

        &__settings-total-left {
            width: 100%;
        }

        &__settings-total-right {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .calculator {
        &__settings-main-title {
            font-size: 20px;
        }

        &__settings {
            padding: 22px 25px 42px 25px;
        }

        &__settings-main-cards {
            flex-wrap: wrap;
        }

        &__total-title {
            font-size: 26px;
        }

        &__settings-top {
            flex-direction: column;
            gap: 25px;
        }

        &__settings-top-square {
            max-width: 100%;
        }

        &__settings-main-card {
            padding: 14px 12px;
            width: 49%;
        }

        &__settings-main-choiceLap {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__settings-main-choiceLap button {
            width: 200px;
        }
    }
}

@media (max-width: 640px) {
    .calculator {
        &__settings-total-right ul {
            flex-direction: column;
            gap: 7px;
        }

        &__settings-total-text {
            margin-bottom: 10px;
        }

        &__settings-total-left,
        &__settings-total-right {
            padding: 16px 21px;
        }
    }
}

@media (max-width: 600px) {
    .calculator {
        &__settings {
            margin-left: -25px;
            margin-right: -25px;
            width: calc(100% + 50px);
            margin-bottom: 15px;
        }

        &__settings-top {
            padding-bottom: 25px;
            margin-bottom: 18px;
        }

        &__settings-main-cards {
            gap: 18px;
        }

        &__settings-main-card {
            width: 47%;
            min-height: 210px;
            max-height: 210px;
        }

        // &__settings-main-card_active {
        //     max-height: 300px;
        // }

        &__main {
            margin-bottom: 38px;
        }

        &__steps {
            margin-bottom: 12px;
        }

        &__settings-main-title {
            font-size: 18px;
        }

        &__settings-main-choice {
            font-size: 14px;
        }

        &__settings-main-card h5 {
            font-size: 14px;
        }

        &__settings-total {
            gap: 15px;
            margin-bottom: 17px;
        }

        &__settings-total-text {
            font-size: 14px;
        }

        &__settings-total-number {
            font-size: 14px;
        }

        &__settings-total-right li {
            font-size: 14px;
        }

        &__total-title {
            font-size: 24px;
        }

        &__total-info {
            font-size: 16px;
        }

        &__total-info-list li {
            font-size: 14px;
        }

        &__total-price {
            font-size: 24px;
        }

        &__total {
            display: block;
        }

        &__total-info-list {
            margin-bottom: 38px;
        }

        &__total-right {
            text-align: start;
        }

        &__total-title {
            margin-bottom: 20px;
        }

        &__total-info-list li {
            margin-bottom: 8px;
        }

        &__nextprev {
            margin-top: 0;
            justify-content: space-between;
        }

        &__settings-result {
            margin-bottom: 30px;
        }

        &__settings-resultTotal {
            padding: 21px;
        }

        &__settings-resultTotal-row {
            margin-bottom: 15px;
        }

        &__settings-resultTotal-title {
            font-size: 16px;
            margin-bottom: 15px;
        }

        &__settings-resultTotal-desc {
            font-size: 14px;
        }

        &__settings-resultTotal-price {
            font-size: 14px;
        }

        &__settings-resultStep {
            margin-top: 10px;
            padding: 17px 22px;
        }

        &__settings-resultStep-name {
            font-size: 16px;
        }

        &__settings-resultStep-text {
            font-size: 13px;
        }

        &__settings-resultStep-count {
            font-size: 13px;
            text-align: right;
        }

        &__settings-resultStep-left img {
            width: 74px;
            height: 74px;
        }

        &__settings-door {
            margin-bottom: 0;
        }

        &__settings-window-desc,
        &__settings-door-desc {
            font-size: 14px;
        }

        &__settings-door-line {
            border: 0;
            margin-bottom: 0;
            margin-top: 28px;
        }

        &__settings-window-wrapper,
        &__settings-door-wrapper {
            max-width: 100%;
        }
    }

    .step1_found_active {
        max-height: 300px;
    }

    .step2_wall_floor1_active {
        max-height: 300px;
    }

    .step2_wall_floor2_active {
        max-height: 300px;
    }

    .step3_lap_under_active {
        max-height: 300px;
    }

    .step3_lap_floor1_active {
        max-height: 300px;
    }

    .step3_lap_floor2_active {
        max-height: 300px;
    }

    .step4_roof_active {
        max-height: 300px;
    }

    .step5_ladder_active {
        max-height: 300px;
    }

    .step5_facade_active {
        max-height: 300px;
    }
}

// input radio

.calculator__checkstyle input[type="radio"]:checked,
.calculator__checkstyle input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.calculator__checkstyle input[type="radio"]:checked + label,
.calculator__checkstyle input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    line-height: 22px;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
}
.calculator__checkstyle input[type="radio"]:checked + label:before,
.calculator__checkstyle input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1.5px solid #c5c5c5;
    border-radius: 5px;
}

// шаги

.step1_found_active {
    border: 2px solid #a78b73;
}

.step2_wall_floor1_active {
    border: 2px solid #a78b73;
}

.step2_wall_floor2_active {
    border: 2px solid #a78b73;
}

.step3_lap_under_active {
    border: 2px solid #a78b73;
}

.step3_lap_floor1_active {
    border: 2px solid #a78b73;
}

.step3_lap_floor2_active {
    border: 2px solid #a78b73;
}

.step4_roof_active {
    border: 2px solid #a78b73;
}

.step5_ladder_active {
    border: 2px solid #a78b73;
}

.step5_facade_active {
    border: 2px solid #a78b73;
}
