@import "../../../styles/helpers/variables";

.footer {
    background-color: #23272b;
    padding-top: 80px;
    padding-bottom: 53px;

    &__feedback {
        display: flex;
        justify-content: space-between;
    }

    &__line {
        border-left: 1px solid #434648;
    }

    &__title {
        max-width: 400px;
        font-family: "Lack", sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 72px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 39px;
    }

    &__info li {
        margin-left: 39px;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        color: #ffffff;
    }

    &__info ul {
        margin-bottom: 47px;
    }

    &__address {
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        color: #ffffff;
        margin-bottom: 46px;
    }

    &__messengers {
        display: flex;
        align-items: center;
    }

    &__messengers a svg path {
        transition: all 0.2s ease-in-out;
    }

    &__messengers a:hover svg path {
        fill: #a78b73;
    }

    &__messengers a:first-child {
        margin-right: 10px;
    }

    &__write {
        margin-left: 20px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
    }

    &__form {
        width: 530px;
    }

    &__form-title {
        font-family: "Lack", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
    }

    &__form input {
        display: block;
        padding-top: 20px;
        padding-bottom: 21px;
        background: #f5f5f5;
        border-radius: 50px;
        padding-left: 33px;
        outline: none;
        width: 100%;
        border: 0;
        margin-bottom: 13px;
    }

    &__form button {
        width: 100%;
        background: #a78b73;
        border-radius: 50px;
        padding-top: 21px;
        padding-bottom: 20px;
        border: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 145%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
    }

    &__form button:hover {
        cursor: pointer;
        background: #b28864;
    }

    &__nav {
        margin-top: 54px;
        border-top: 1px solid #434648;
        padding-top: 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__links {
        display: flex;
    }

    &__links a {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        text-decoration: none;
        margin-left: 25px;
        transition: all 0.2s ease-in-out;
    }

    &__links a:first-child {
        margin-left: 0;
    }

    &__links a:hover {
        color: #a78b73;
    }

    &__linksRight {
        margin-left: 25px;
    }

    &__connect {
        text-decoration: none;
        color: #fff;
    }

    &__connect {
        transition: all 0.2s ease-in-out;
    }

    &__connect:hover {
        color: #a78b73;
    }
}

@media (max-width: 1200px) {
    .footer {
        &__title {
            font-size: $fontTitle1200;
            line-height: 130%;
        }

        &__info li {
            font-size: 24px;
        }

        &__address {
            font-size: 22px;
        }

        &__feedback {
            flex-direction: column;
        }

        &__line {
            margin-top: 34px;
            margin-bottom: 34px;
            border-top: 1px solid #434648;
        }

        &__form-title {
            font-size: 34px;
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &__title {
            font-size: $fontTitle992;
        }

        &__info li {
            font-size: 22px;
        }

        &__address {
            font-size: 22px;
            line-height: 31px;
        }

        &__form-title {
            font-size: 30px;
        }

        &__nav {
            flex-direction: column;
            align-items: flex-start;
        }

        &__nav img {
            margin-bottom: 28px;
        }

        &__linksLeft {
            display: flex;
            flex-direction: column;
        }

        &__linksRight {
            display: flex;
            flex-direction: column;
        }

        &__links a {
            margin-left: 0;
            margin-bottom: 25px;
        }

        &__linksRight {
            margin-left: 68px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__title {
            font-size: $fontTitle768;
        }

        &__info li {
            font-size: 18px;
        }

        &__address {
            font-size: 18px;
        }

        &__form-title {
            font-size: 28px;
        }
    }
}

@media (max-width: 600px) {
    .footer {
        padding-top: 45px;
        padding-bottom: 58px;

        &__title {
            font-size: $fontTitle600;
            margin-bottom: 25px;
        }

        &__info li {
            font-size: 16px;
            line-height: 30px;
        }

        &__address {
            font-size: 16px;
            margin-bottom: 23px;
        }

        &__write {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #797979;
        }

        &__form-title {
            font-size: 24px;
            margin-bottom: 23px;
        }

        &__feedback {
            width: 100%;
        }

        &__form {
            width: 100%;
        }

        &__form input {
            font-size: 14px;
            margin-bottom: 10px;
            width: 100%;
        }

        &__form button {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        &__links a {
            font-size: 14px;
        }

        &__info ul {
            margin-bottom: 23px;
        }

        &__nav {
            margin-top: 43px;
            padding-top: 24px;
            padding-bottom: 0;
        }
    }
}
