* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.general {
    &__route-wrapper {
        padding-top: 130px;
    }

    &__route {
        font-size: 14px;
        color: #23272b;
    }

    &__route a {
        text-decoration: none;
        color: #23272b;
        transition: color 0.2s ease-in-out;
    }

    &__route a:hover {
        color: #a78b73;
    }
}

@media (max-width: 1340px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 0 25px;
    }
}

@media (max-width: 1340px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
    .general {
        &__route-wrapper {
            padding-top: 90px;
        }

        &__route {
            font-size: 13px;
        }
    }
}
